/* normalize css import */

@import "../css/normalize.css";

/* stocklist scss */


/* variables */

$color-red: #bf212f;
$color-green: #006f3c;
.stock-app {
  font-family: 'Roboto', sans-serif;
  header {
    font-size: 21px;
    padding: 10px 0;
  }
  .stock-list {
    margin-top: 50px;
    display: table;
    width: 100%;
    .stock-label {
      margin: 15px 0 20px;
      display: block;
    }
    .my-chart div{
      margin: 0 auto;
    }
    .up{
      color: $color-green;
    }
    .down{
      color: $color-red;
    }
  }
}

